a,
a:hover {
  color: inherit;
}

.relation-card:hover,
.relation-node:hover {
  cursor: pointer;
}

.select-work-card-staged {
  cursor: pointer;
}

.current-work-node:hover,
.edge:hover {
  cursor: default;
}

.relation-card {
  border-left: 0.25rem solid;
}

.relation-lead {
  font-weight: bold;
  margin-right: 0.25rem;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.rbt-menu {
  max-height: 67vh !important;
}

.dropdown-item .dropdown-item-bibliography {
  white-space: normal;
  font-size: 0.8rem;
}

#graph {
  position: -webkit-sticky;
  position: sticky;
  top: 72px;
}
