a,
a:hover {
  color: inherit;
}

.relation-card,
.relation-node:hover {
  cursor: pointer;
}

.current-work-node:hover,
.edge:hover {
  cursor: default;
}

.relation-card {
  border-left: 0.25rem solid;
}

.relation-lead {
  font-weight: bold;
  color: #555555;
  margin-right: 0.25rem;
}
