a,
a:hover {
  color: inherit;
}

.relation-card:hover,
.relation-node:hover {
  cursor: pointer;
}

.select-work-card-staged {
  cursor: pointer;
}

.search-result-list-item {
  cursor: pointer;
}

.current-work-node:hover,
.edge:hover {
  cursor: default;
}

.relation-card {
  border-left: 0.25rem solid;
}

.relation-lead {
  font-weight: bold;
  margin-right: 0.25rem;
}
