#left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#right {
  height: 100%;
  min-height: 100vh;
}

/* Menu */

.result:hover {
  cursor: hand;
  cursor: pointer;
}

.results-list {
  margin-top: 15px;
}

.result.critique {
  border-left: 5px solid #ff3300;
}

.result.extension {
  border-left: 5px solid #0099cc;
}

.result.absence {
  border-left: 5px solid #ff9900;
}

.result .type {
  font-weight: bold;
  margin-right: 5px;
}

.result.critique .type {
  color: #ff3300;
}

.result.extension .type {
  color: #0099cc;
}

.result.absence .type {
  color: #ff9900;
}

.result .author {
  margin-right: 5px;
}

/* Graph */

#graph g.node:hover {
  cursor: hand;
  cursor: pointer;
}

#graph a:hover {
  text-decoration: none;
}
