body {
  /* Allow room for fixed navbar */
  padding-top: 71px;
}

#left {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#right {
  height: 100%;
  min-height: 100vh;
}

/* Navbar */

.navbar-inverse a {
  color: #dddddd !important;
}

.navbar-inverse a:hover {
  color: #9d9d9d !important;
}

#login-status a {
  color: inherit;
  text-decoration: none;
}

.navbar-inverse #login-status a {
  color: inherit;
  text-decoration: none;
}

/* Menu */

.result:hover {
  cursor: hand;
  cursor: pointer;
}

.results-list {
  margin-top: 15px;
}

.result {
  border-left: 5px solid #999899;
}

.result.critique {
  border-left: 5px solid #b10026;
}

.result.extension {
  border-left: 5px solid #51bb82;
}

.result.rejoinder {
  border-left: 5px solid #ff5235;
}

.result.absence {
  border-left: 5px solid #0f3363;
}

.result.omission {
  border-left: 5px solid #ffd121;
}

.result .type {
  font-weight: bold;
  margin-right: 5px;
  color: #999899;
}

.result.critique .type {
  color: #b10026;
}

.result.extension .type {
  color: #51bb82;
}

.result.rejoinder .type {
  color: #ff5235;
}

.result.absence .type {
  color: #0f3363;
}

.result.omission .type {
  color: #ffd121;
}

.result .author {
  margin-right: 5px;
}

/* Graph */

#graph g.node:hover {
  cursor: hand;
  cursor: pointer;
}

#graph a:hover {
  text-decoration: none;
}
